  /* .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
   */

   .body{
    overflow: hidden !important; 
    margin: 1%;
   }

  .middle {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
  }

  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    /*whatever width you want*/
  }

  .font {
    font-family: Trebuchet MS, sans-serif;
    font-weight: lighter;
    font-weight: 0.1;
  }

  .title{
    font-family: Trebuchet MS, sans-serif;
    font-weight: lighter;
    font-weight: 0.1;
    font-size: 15px;
    color:#787878;
    margin-left: 0.8%;
  }

  .smallfont{
    font-family: Trebuchet MS, sans-serif;
    font-weight: lighter;
    font-weight: 0.1;
    font-size: 12px;
  }

 .ldswitch{
   margin:2%;
   padding:2%;
   display: flex; 
   justify-content: flex-end;
 }

 .main{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 55vh;
 }

 input[type ="checkbox"]{
   -webkit-appearance: none;
   visibility: hidden;
   display: none;
  }

  .check{
    position: relative;
    display:block;
    width: 8vh;
    height: 3vh;
    background: #282C2F;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
  }

  input[type ="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 0 0 0 120000px #282C2F;
  }

  .check:before{
    content: '';
    position:absolute;
    top: 3px;
    left: 3px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius:50%;
    transition: 0.5s;
  }

  input[type ="checkbox"]:checked ~ .check:before{
    transform:translateX(-50px);
  }

  .check:after{
    content: '';
    position:absolute;
    top: 3px;
    left: 40px;
    background: #282C2F;
    width: 16px;
    height: 16px;
    border-radius:50%;
    transition: 0.5s;
    transform:translateX(50px);
  }

  input[type ="checkbox"]:checked ~ .check:after{
    transform:translateX(0px);
  }

  .container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content:center;
  }

  .container2 > * {
    margin-top: 40px;
    /* margin-bottom: 40px; */
  }

  .middlediv{
    margin-left: auto;
    margin-right: auto;
    place-items: center;
  }

  .codebox {
    padding: 25px 50px;
    /* box-shadow: 0px 7px 16px rgba(0,0,0,0.12); */
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 25px;
    max-width: 850px;
    border: 1px solid #F1F1F1;
    z-index: 1;
}

.box{
  position:absolute;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
}

.box span{
  display:block;
  width:20px;
  height:20px;
  border-bottom: 1px solid #282C2F;
  border-right: 1px solid #282C2F;
  transform: rotate(45deg);
  margin:-10px;
  animation: animatearrow 2s infinite;
}

.box span:nth-child(2){
  animation-delay: -0.2s;
}

.box span:nth-child(3){
  animation-delay: -0.4s;
}


@keyframes animatearrow{
  0%{
    opacity:0;
    transform: rotate(45deg) translate(-20px, -20px); 
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform: rotate(45deg) translate(20px, 20px); 
  }
}

/* .sbborder{
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0,0.2);
} */

.skillbar{
  width: 65%;
  background: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.skillbar .bar{
  margin:20px 0;
}

.skillbar .bar:first-child{
  margin-top:0px;
}

.skillbar .bar .info span{
  font-size: 17px;
  font-weight: 500;
  opacity:0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText{
  100%{
    opacity:1;
  }
}

.skillbar .bar .progline{
  position:relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow:inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progline span{
  position:absolute;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow:inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px 1px rgba(255,255,255,0.8);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
  100%{
    transform:scaleX(1);
  }

}

.bar .progline.Python span{
  background: #3776ab;
  width: 90%;
}

.bar .progline.Java span{
  width: 70%;
  background: #f89820;
}

.bar .progline.Javascript span{
  width: 57.5%;
  background: #f0db4f;
}

.bar .progline.HC span{
  width: 65%;
  background: #e44d26;
}

.bar .progline.C span{
  width: 50%;
  background: #5c6bc1;
}

.bar .progline.CSharp span{
  width: 50%;
  background: #6a1577;
}

.bar .progline span:before{
  position: absolute;
  content:"";
  right:0;
  top:-10px;
  height:0;
  width:0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progline span:after{
  position: absolute;
  right:-60;
  top:-28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2{
  100%{
    opacity:1;
  }
}

.bar .progline.Python span:after{
  content:"11 Months";
}

.bar .progline.Java span:after{
  content:"7 Months";
}

.bar .progline.Javascript span:after{
  content:"5 Months";
}

.bar .progline.HC span:after{
  content:"6 Months";
}

.bar .progline.C span:after{
  content:"4 Months";
}

.bar .progline.CSharp span:after{
  content:"4 months";
}

.sideproj{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sideprojimg{
  width: 68%;
  /* margin-left: 15%; */
  /* margin-right: auto; */
}

.sideprojimg2{
  width: 57vh;
  height: 57vh;
  /* margin-left: 40%;
  margin-right: 0%; */
  padding: 5%;
  border-radius: 19%;
}

.centrediv{
  width: 55%;
  margin-left: auto ;
  margin-right: auto ;
}

.iconmarg{
  margin-right: 1.5%;
  margin-left: 1%;
}


.proj{
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
    margin-right: -15px;
    margin-left: -15px;
}

.centreproj{
  align-items: center; 
  justify-content: center; 
}

.aboutme{
  /* padding: 25px 50px;
  box-shadow: 0px 7px 16px rgba(0,0,0,0.12);
  background-color: #fff;
  border-radius: 25px;
  max-width: 850px;
  border: 1px solid #F1F1F1;
  z-index: 1; */

  max-width: 65%;
  background: #fff;
  border-radius: 10px;
  padding: 25px 50px;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.outside {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mid {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.outside:hover .image {
  opacity: 0.15;
}

.outside:hover .mid {
  opacity: 1;
}

.text {
  background-color:black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 40rem) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards {
    width: 33.3%;
  }
}
.cards .card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}
.cards .card-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.cards .card-item:hover .card-image {
  opacity: 1;
}
.cards .card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}
.cards .card-image1 {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  background-image: url('images/CF.png');
}

.cards .card-image2 {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  background-image: url('images/dodge.jpg');
}

.cards .card-image3 {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  background-image: url('images/CryptoPi1.jpg');
}

.cards .card-image4 {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  background-image: url('images/Essential.png');
}

.bottom{
  vertical-align:bottom;
}

.newfont {
  font-family: 'Quicksand', serif;
}

.name{
  font-weight: 800;
  font-size: 6vh;
}

.iconbox{
  margin-left: 1%;
}

.imagebox{
  width: 170px;
  height: 170px;
  margin-top: 0;
  /* margin-left: 50px;
  margin-bottom: 20px; */
  position: relative;
  line-height: 0;
  font-size:0;
}

.imagebox img{
  width: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: 55%;
  border: 5px solid #787878;
  padding: 0;
}

.fahover:hover{
  color: #787878;
}

.fahover i:hover{
color: #787878;
}

.fahover i before:hover{
color: #787878;
}

body {
	 background: #ecf3f3;
}
 .particle {
	 position: absolute;
	 border-radius: 50%;
}
 @keyframes particle-animation-1 {
	 100% {
		 transform: translate3d(11vw, 80vh, 54px);
	}
}
 .particle:nth-child(1) {
	 animation: particle-animation-1 60s infinite;
	 opacity: 0.83;
	 height: 6px;
	 width: 6px;
	 animation-delay: -0.2s;
	 transform: translate3d(47vw, 73vh, 66px);
	 background: #787878;
}
 @keyframes particle-animation-2 {
	 100% {
		 transform: translate3d(47vw, 17vh, 2px);
	}
}
 .particle:nth-child(2) {
	 animation: particle-animation-2 60s infinite;
	 opacity: 0.47;
	 height: 8px;
	 width: 8px;
	 animation-delay: -0.4s;
	 transform: translate3d(47vw, 52vh, 61px);
	 background: #282C2F;
}
 @keyframes particle-animation-3 {
	 100% {
		 transform: translate3d(45vw, 47vh, 19px);
	}
}
 .particle:nth-child(3) {
	 animation: particle-animation-3 60s infinite;
	 opacity: 0.58;
	 height: 10px;
	 width: 10px;
	 animation-delay: -0.6s;
	 transform: translate3d(90vw, 89vh, 67px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-4 {
	 100% {
		 transform: translate3d(16vw, 83vh, 37px);
	}
}
 .particle:nth-child(4) {
	 animation: particle-animation-4 60s infinite;
	 opacity: 0.92;
	 height: 8px;
	 width: 8px;
	 animation-delay: -0.8s;
	 transform: translate3d(61vw, 25vh, 13px);
	 background: #a6adb3;
}
 @keyframes particle-animation-5 {
	 100% {
		 transform: translate3d(65vw, 38vh, 75px);
	}
}
 .particle:nth-child(5) {
	 animation: particle-animation-5 60s infinite;
	 opacity: 0.57;
	 height: 8px;
	 width: 8px;
	 animation-delay: -1s;
	 transform: translate3d(31vw, 2vh, 92px);
	 background: #555d63;
}
 @keyframes particle-animation-6 {
	 100% {
		 transform: translate3d(2vw, 22vh, 33px);
	}
}
 .particle:nth-child(6) {
	 animation: particle-animation-6 60s infinite;
	 opacity: 0.67;
	 height: 7px;
	 width: 7px;
	 animation-delay: -1.2s;
	 transform: translate3d(38vw, 7vh, 81px);
	 background: #787878;
}
 @keyframes particle-animation-7 {
	 100% {
		 transform: translate3d(23vw, 70vh, 14px);
	}
}
 .particle:nth-child(7) {
	 animation: particle-animation-7 60s infinite;
	 opacity: 0.63;
	 height: 9px;
	 width: 9px;
	 animation-delay: -1.4s;
	 transform: translate3d(69vw, 68vh, 38px);
	 background: #282C2F;
}
 @keyframes particle-animation-8 {
	 100% {
		 transform: translate3d(21vw, 41vh, 61px);
	}
}
 .particle:nth-child(8) {
	 animation: particle-animation-8 60s infinite;
	 opacity: 0.6;
	 height: 7px;
	 width: 7px;
	 animation-delay: -1.6s;
	 transform: translate3d(13vw, 3vh, 39px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-9 {
	 100% {
		 transform: translate3d(24vw, 88vh, 57px);
	}
}
 .particle:nth-child(9) {
	 animation: particle-animation-9 60s infinite;
	 opacity: 0.11;
	 height: 7px;
	 width: 7px;
	 animation-delay: -1.8s;
	 transform: translate3d(11vw, 18vh, 51px);
	 background: #a6adb3;
}
 @keyframes particle-animation-10 {
	 100% {
		 transform: translate3d(62vw, 79vh, 94px);
	}
}
 .particle:nth-child(10) {
	 animation: particle-animation-10 60s infinite;
	 opacity: 0.71;
	 height: 6px;
	 width: 6px;
	 animation-delay: -2s;
	 transform: translate3d(11vw, 11vh, 41px);
	 background: #555d63;
}
 @keyframes particle-animation-11 {
	 100% {
		 transform: translate3d(82vw, 50vh, 87px);
	}
}
 .particle:nth-child(11) {
	 animation: particle-animation-11 60s infinite;
	 opacity: 0.46;
	 height: 10px;
	 width: 10px;
	 animation-delay: -2.2s;
	 transform: translate3d(79vw, 68vh, 72px);
	 background: #787878;
}
 @keyframes particle-animation-12 {
	 100% {
		 transform: translate3d(42vw, 31vh, 76px);
	}
}
 .particle:nth-child(12) {
	 animation: particle-animation-12 60s infinite;
	 opacity: 0.07;
	 height: 8px;
	 width: 8px;
	 animation-delay: -2.4s;
	 transform: translate3d(21vw, 4vh, 35px);
	 background: #282C2F;
}
 @keyframes particle-animation-13 {
	 100% {
		 transform: translate3d(3vw, 84vh, 48px);
	}
}
 .particle:nth-child(13) {
	 animation: particle-animation-13 60s infinite;
	 opacity: 0.21;
	 height: 6px;
	 width: 6px;
	 animation-delay: -2.6s;
	 transform: translate3d(37vw, 6vh, 56px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-14 {
	 100% {
		 transform: translate3d(88vw, 13vh, 60px);
	}
}
 .particle:nth-child(14) {
	 animation: particle-animation-14 60s infinite;
	 opacity: 0.6;
	 height: 8px;
	 width: 8px;
	 animation-delay: -2.8s;
	 transform: translate3d(16vw, 31vh, 99px);
	 background: #a6adb3;
}
 @keyframes particle-animation-15 {
	 100% {
		 transform: translate3d(38vw, 80vh, 14px);
	}
}
 .particle:nth-child(15) {
	 animation: particle-animation-15 60s infinite;
	 opacity: 0.75;
	 height: 7px;
	 width: 7px;
	 animation-delay: -3s;
	 transform: translate3d(29vw, 26vh, 70px);
	 background: #555d63;
}
 @keyframes particle-animation-16 {
	 100% {
		 transform: translate3d(60vw, 75vh, 65px);
	}
}
 .particle:nth-child(16) {
	 animation: particle-animation-16 60s infinite;
	 opacity: 0.49;
	 height: 7px;
	 width: 7px;
	 animation-delay: -3.2s;
	 transform: translate3d(43vw, 52vh, 56px);
	 background: #787878;
}
 @keyframes particle-animation-17 {
	 100% {
		 transform: translate3d(75vw, 5vh, 8px);
	}
}
 .particle:nth-child(17) {
	 animation: particle-animation-17 60s infinite;
	 opacity: 0.68;
	 height: 9px;
	 width: 9px;
	 animation-delay: -3.4s;
	 transform: translate3d(68vw, 9vh, 69px);
	 background: #282C2F;
}
 @keyframes particle-animation-18 {
	 100% {
		 transform: translate3d(7vw, 18vh, 30px);
	}
}
 .particle:nth-child(18) {
	 animation: particle-animation-18 60s infinite;
	 opacity: 0.9;
	 height: 8px;
	 width: 8px;
	 animation-delay: -3.6s;
	 transform: translate3d(2vw, 46vh, 4px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-19 {
	 100% {
		 transform: translate3d(64vw, 37vh, 10px);
	}
}
 .particle:nth-child(19) {
	 animation: particle-animation-19 60s infinite;
	 opacity: 0.19;
	 height: 9px;
	 width: 9px;
	 animation-delay: -3.8s;
	 transform: translate3d(66vw, 42vh, 18px);
	 background: #a6adb3;
}
 @keyframes particle-animation-20 {
	 100% {
		 transform: translate3d(86vw, 62vh, 28px);
	}
}
 .particle:nth-child(20) {
	 animation: particle-animation-20 60s infinite;
	 opacity: 0.81;
	 height: 8px;
	 width: 8px;
	 animation-delay: -4s;
	 transform: translate3d(42vw, 30vh, 32px);
	 background: #555d63;
}
 @keyframes particle-animation-21 {
	 100% {
		 transform: translate3d(21vw, 20vh, 89px);
	}
}
 .particle:nth-child(21) {
	 animation: particle-animation-21 60s infinite;
	 opacity: 0.32;
	 height: 10px;
	 width: 10px;
	 animation-delay: -4.2s;
	 transform: translate3d(54vw, 36vh, 77px);
	 background: #787878;
}
 @keyframes particle-animation-22 {
	 100% {
		 transform: translate3d(10vw, 35vh, 34px);
	}
}
 .particle:nth-child(22) {
	 animation: particle-animation-22 60s infinite;
	 opacity: 0.41;
	 height: 9px;
	 width: 9px;
	 animation-delay: -4.4s;
	 transform: translate3d(63vw, 11vh, 83px);
	 background: #282C2F;
}
 @keyframes particle-animation-23 {
	 100% {
		 transform: translate3d(7vw, 69vh, 22px);
	}
}
 .particle:nth-child(23) {
	 animation: particle-animation-23 60s infinite;
	 opacity: 0.8;
	 height: 8px;
	 width: 8px;
	 animation-delay: -4.6s;
	 transform: translate3d(65vw, 81vh, 23px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-24 {
	 100% {
		 transform: translate3d(77vw, 1vh, 98px);
	}
}
 .particle:nth-child(24) {
	 animation: particle-animation-24 60s infinite;
	 opacity: 0.73;
	 height: 10px;
	 width: 10px;
	 animation-delay: -4.8s;
	 transform: translate3d(15vw, 40vh, 87px);
	 background: #a6adb3;
}
 @keyframes particle-animation-25 {
	 100% {
		 transform: translate3d(71vw, 64vh, 9px);
	}
}
 .particle:nth-child(25) {
	 animation: particle-animation-25 60s infinite;
	 opacity: 0.79;
	 height: 8px;
	 width: 8px;
	 animation-delay: -5s;
	 transform: translate3d(83vw, 31vh, 74px);
	 background: #555d63;
}
 @keyframes particle-animation-26 {
	 100% {
		 transform: translate3d(83vw, 19vh, 92px);
	}
}
 .particle:nth-child(26) {
	 animation: particle-animation-26 60s infinite;
	 opacity: 0.64;
	 height: 10px;
	 width: 10px;
	 animation-delay: -5.2s;
	 transform: translate3d(80vw, 42vh, 25px);
	 background: #787878;
}
 @keyframes particle-animation-27 {
	 100% {
		 transform: translate3d(5vw, 4vh, 74px);
	}
}
 .particle:nth-child(27) {
	 animation: particle-animation-27 60s infinite;
	 opacity: 0.3;
	 height: 6px;
	 width: 6px;
	 animation-delay: -5.4s;
	 transform: translate3d(38vw, 89vh, 55px);
	 background: #282C2F;
}
 @keyframes particle-animation-28 {
	 100% {
		 transform: translate3d(56vw, 28vh, 28px);
	}
}
 .particle:nth-child(28) {
	 animation: particle-animation-28 60s infinite;
	 opacity: 0.07;
	 height: 7px;
	 width: 7px;
	 animation-delay: -5.6s;
	 transform: translate3d(28vw, 22vh, 28px);
	 background: #3b3b3b;
}
 @keyframes particle-animation-29 {
	 100% {
		 transform: translate3d(75vw, 87vh, 66px);
	}
}
 .particle:nth-child(29) {
	 animation: particle-animation-29 60s infinite;
	 opacity: 0.98;
	 height: 8px;
	 width: 8px;
	 animation-delay: -5.8s;
	 transform: translate3d(25vw, 45vh, 6px);
	 background: #a6adb3;
}
 @keyframes particle-animation-30 {
	 100% {
		 transform: translate3d(71vw, 69vh, 47px);
	}
}
 .particle:nth-child(30) {
	 animation: particle-animation-30 60s infinite;
	 opacity: 0.7;
	 height: 7px;
	 width: 7px;
	 animation-delay: -6s;
	 transform: translate3d(68vw, 10vh, 71px);
	 background: #555d63;
}